@tailwind base;
@tailwind components;
@tailwind utilities;

.item-list::-webkit-scrollbar {
    display: none;
    width: 0 !important;
}
.item-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.iti__flag {background-image: url("path/to/flags.png");}

@media (min-resolution: 2x) {
  .iti__flag {background-image: url("path/to/flags@2x.png");}
}

.iti {
    width: 100%;
}